td {
	width: 100px;
	height: 100px;
}
h2{
	text-align: center;
}
.vertical{
	border-right: 1px solid black;
}
.horizontal{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
table {
	margin: auto;
}