body{
	background-color:#232323;
	margin: 0;
	font-family:"Livvic";
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	background:purple;
	border-radius: 15%;
	transition: background 0.6s;
}

#container{
	margin: 25px auto;
	max-width: 600px;
}
h1{
	color: white;
	margin: 0;
	text-align: center;
	background: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	padding:20px 0px;
	transition: background 0.6s;
}
#message{
	color: steelblue;
	display: inline-block;
	width: 20%;
	font-size: 100%;
	font-weight: 700;
	letter-spacing: 1.5px;
}

#stripe{
	background: white;
	height: 25px;
	text-align: center;
}
.selected{
	color: white;
	background:steelblue;
}

#pickedColorDisp{
	font-size: 170%;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight:700;
	color:steelblue;
	letter-spacing: 1.5px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}
button:hover{
	color: white;
	background:steelblue;
}